

html,body{
    height: 100%;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.tudo{
    background-color: black;
    height: 100%;
    width: 600px;
    border-radius: 5px;
}

.meuchat{
    color: white;
}

.pontos{
    fill: white;
    width: 8px;
}

.direcaoInicio{
    margin: 0 10px;
    border-bottom: 1px dotted white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.mensagemEsq{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.oi{
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    background-color: #3b4a54;
    width: fit-content;
    border-radius: 5px;
    width: 56px;
    height: 33px;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.semamor{
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    background-color: #3b4a54;
    width: fit-content;
    border-radius: 5px;
    width: 168px;
    height: 37px;
    padding-left: 14px;
    margin-top: 5px;
    margin-left: 10px;
}

.mensagemDir{
    align-items: end;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.oitarde{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    background-color: #00a884;
    width: fit-content;
    border-radius: 5px;
    width: 98px;
    height: 33px;
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 24px;
    margin-right: 10px
}

.desconhecido{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    background-color: #00a884;
    width: fit-content;
    border-radius: 5px;
    width: 150px;
    height: 33px;
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 24px;
    margin-right: 10px
}

.oi .verify , .semamor .verify{
fill: aqua;
width: 10px;
position: absolute;
right: 2px;
bottom: 2px;
}

.oitarde .verify, .desconhecido .verify{
fill: white;
width: 10px;
position: absolute;
right: 2px;
bottom: 2px;
}

.oitarde .v, .desconhecido .v{
    fill: white;
    width: 10px;
    position: absolute;
    right: -30px;
    padding: 3px;
}

.oi .v, .semamor .v{
    fill: black;
    width: 10px;
    position: absolute;
    right: -20px;
    padding: 3px;
} 

.oi:hover .v{
   fill: white;
   right: 0;
   top: 0;
   background-color: #8d8f8e;
   border-radius: 10px;
}

.semamor:hover .v{
    fill: white;
    right: 0;
    top: 0;
    background-color: #8d8f8e;
    border-radius: 10px;
}

.oitarde:hover .v{
    fill: white;
    right: 0;
    top: 0;
    background-color: #8d8f8e;
    border-radius: 10px;
}

.desconhecido:hover .v{
    fill: white;
    right: 0;
    top: 0;
    background-color: #8d8f8e;
    border-radius: 10px;
}



